{% extends 'base.html.twig' %}

{% block body %}
    <h1>Artist</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ artist.id }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ artist.firstName }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ artist.lastName }}</td>
            </tr>
            <tr>
                <th>Placeofbirth</th>
                <td>{{ artist.placeOfBirth }}</td>
            </tr>
            <tr>
                <th>Birthdate</th>
                <td>{% if artist.birthDate %}{{ artist.birthDate|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Deathdate</th>
                <td>{{ artist.deathDate }}</td>
            </tr>
            <tr>
                <th>Biography</th>
                <td>{{ artist.biography }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('artist_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('artist_edit', { 'id': artist.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
