{% extends 'base.html.twig' %}

{% block body %}
    <h1>Workofart</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ workOfArt.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ workOfArt.title }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ workOfArt.type }}</td>
            </tr>
            <tr>
                <th>Size</th>
                <td>{{ workOfArt.size }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ workOfArt.description }}</td>
            </tr>
            <tr>
                <th>Picture</th>
                <td>{{ workOfArt.picture }}</td>
            </tr>
            <tr>
                <th>Creationdate</th>
                <td>{{ workOfArt.creationDate }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('workofart_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('workofart_edit', { 'id': workOfArt.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
