{% extends 'base.html.twig' %}

{% block body %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <h1 class="bg-transparent">{{ artwork.title }}</h1>
        <h2 class="text-center">{{ artwork.artist.firstname }} {{ artwork.artist.lastname }}</h2>

    <div class="container bg-transparent">
        <div class="row">
            <div class="col-4"><img class="img-fluid" src="{{ vich_uploader_asset(artwork, 'imageFile') }}" alt="{{ artwork.title }}"></div>
            <div class="col-8"><p>{{ artwork.description|nl2br }}</p></div>
        </div>
        <div class="text-center">
            <a class ="btn btn-dark" href="{{ path('pokedex') }}">Ma collection</a>
        </div>
{% endblock %}
