{% extends 'base.html.twig' %}

{% block body %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <h1 class="bg-transparent">{{ artwork.title }}</h1>
        <h2 class="text-center">{{ artwork.artist.firstname }} {{ artwork.artist.lastname }}</h2>

    <div class="container">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4"><img src="{{ vich_uploader_asset(artwork, 'imageFile') }}" alt="{{ artwork.title }}"></div>
        </div>
        <div class="row">
                <div class="col-4"></div>
                    <div class="col-4 mt-5"><p>{{ artwork.description|nl2br }}</p></div>
                <div class="col-4"></div>
        </div>
    </div>








{% endblock %}
